body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

/* Header Styles start here */

.header {
    display: flex;
    justify-content: space-around;
    max-height: fit-content;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    justify-self: center;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

/* Header Styles end here */

/* Hero Styles start here */

.hero {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding: 60px;
}

.herotext {
    margin: 20px;
    max-width: 500px;
}

.maintext {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
}

.secondtext {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.mainbutton {
    background-color: #3882F6;
    border-radius: 5px;
    color: #F9FAF8;
    padding: 5px 20px;
    margin: 15px 0px;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

img {
    width: 500px;
    height: 230px;
}

/* Hero Styles ends here */

/* Infosection Styles starts here */

.infosection {
    text-align: center;
    margin: 30px;
}

.infosection h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    padding: 10px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 25px;
}

.card{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 3px solid #3882F6;

}
.info {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.infotext {
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    font-size: 20px;
    color: #1F2937;
}

/* Infosection Styles ends here */

/* Testimonial Styles starts here */

.testimonial {
    display: flex;
    background-color: #E5E7EB;
    font-family: 'Roboto', sans-serif;
    padding: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comment {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    max-width: 800px;
}

.author {
    font-size: 25px;
    font-weight: bold;
    color: #1F2937;
    width: 800px;
    text-align: end;
}

/* Testimonial Styles ends here */

/* CTA Styles start here */

.cta {
    background-color: #3882F6;
    font-family: 'Roboto', sans-serif;
    color: #F9FAF8;
    border-radius: 10px;
    margin: 100px 300px;
    padding: 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.cta h3 {
    margin: 0px;
}

.cta p {
    margin: 0px;
}

.ctabutton {
    background-color: #3882F6;
    border-radius: 5px;
    color: #F9FAF8;
    padding: 5px 20px;
    margin: 15px 0px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid white;
}

/* CTA Styles ends here */

/* Footer Styles starts here */

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer Styles ends here */